<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

<body>

<%- include("partials/navbar") %>
<%- include("partials/navmenu") %>

<div class="dashboard-container">
    <!-- MAIN QUESTIONS AREA -->
    <main class="dashboard-main">

        <h2>Edit Your Question.</h2>
                    <div class="signup-content">
                       
                            <form action="/dashboard/edit/<%=post.id%>" method="POST">

                                <div class="form-grp">
                                    <label for="title">What Should Be the Title of Your Question?</label>
                                    <input type="text" placeholder="Enter Best Suitable Title for Your Question"
                                        id="title" name="title" value="<%=post.title%>" required></input>
                                </div>

                                <div class="form-grp">
                                    <label for="description">Describe your question clearly so the community can help
                                        you better.</label>
                                    <textarea class="description" maxlength="500" 
                                        placeholder="Explain your problem, what you tried, and what result you expected." name="description"><%=post.description%></textarea>
                                </div>

                                <button class="navMenubtn register" type="submit">Update</button>
                            </form>
                     
                    </div>

    </main>

</div>
<%- include("partials/footer") %>
</body>
</html>