<!DOCTYPE html>

<html lang="en">

<%- include("partials/head") %>

<body>
<%- include("partials/navbar") %>
<%- include("partials/navmenu") %>
<hr>
<p class="heading"><b>QUESTIONS</b></p>


<% questions.forEach(q=>{ %>
  
    <a class="head-question" href="/question/<%=q.id%>">
    <div class="explore-container">
        <h3> 
            <%= q.title %>
        </h3>
        <div class="questioner">
            <img src="<%= q.profileurl %>">
            <p>Asked by <span class="username"><b>@<%= q.username %></b></span></p>
        </div>
        
    </div>
    </a>
<%})%>
</div>
<%- include("partials/footer") %>
</body>
</html>
